.container {
  display: none;
  @include mobile {
    display: block;
  }
}

.hamburger-menu {
  padding: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 50%;
  height: 100%;
  background-color: $black-1;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  @include flexSort(column, flex-start, flex-start, 3rem);
  &.show-nav {
    transform: translateX(0);
  }
}

.my-info {
  width: 100%;
  @include flexSort(column, center, null, 3rem);
}

.menu-box {
  width: 100%;
  .menu-item {
    padding: 0.8rem;
    border-bottom: 0.1rem solid $black-5;
    .menu-link {
      color: $black-13;
      text-align: center;
      font-feature-settings: 'ss10' on;
      @include font(1.6rem, 500, 2.4rem);
    }
  }
}
