.container {
  display: none;
  @include mobile {
    display: block;
  }
}

.hamburgerMenu {
  display: none;
  padding: 2rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  max-width: 37.5rem;
  height: 100%;
  background-color: $black-1;
  transition: transform 0.3s ease;
  transform: translateX(100%);
  &.showNav {
    transform: translateX(0);
  }
  @include mobile {
    @include flexSort(column, flex-start, flex-start, 3rem);
  }
}

.myInfo {
  width: 100%;
  @include flexSort(column, center, null, 3rem);
}

.menuBox {
  width: 100%;
  .menuItem {
    padding: 0.8rem;
    border-bottom: 0.1rem solid $black-5;
    .menuLink {
      color: $black-13;
      text-align: center;
      font-feature-settings: 'ss10' on;
      @include font(1.6rem, 500, 2.4rem);
    }
  }
}
