.pagination {
  @include flexSort(null, null, center, null);
  margin-top: 2rem;
}

.button {
  margin: 0 0.5rem;
  padding: 1rem 1.5rem;
  color: $black-13;
  cursor: pointer;

  &.active {
    background: $orange-3;
  }
}

.arrow {
  padding: 1rem;

  &:disabled {
    fill: $black-6;
    cursor: not-allowed;

    path {
      fill: $black-6;
    }
  }
}

.rightArrow {
  transform: rotate(180deg);
}
