.square {
  padding: 1.2rem;
  border: none;
  color: $black-1;
  text-align: center;
  border-radius: 0.4rem;
  @include font(1.6rem, 600, 2.4rem);

  &.red {
    background-color: $orange-5;

    &:hover {
      background-color: $orange-3;
      color: $black-1;
    }

    &:active {
      background-color: $orange-6;
      color: $black-1;
    }

    &:disabled {
      background-color: $orange-1;
      color: $black-6;
    }
  }

  &.green {
    background-color: #8fe65c;

    &:hover {
      background-color: $green;
    }

    &:active {
      background-color: #5ad80e;
    }
  }

  &.black {
    padding: 1.8rem 0;
    border: 0.1rem solid #181717;
    width: 100%;
    height: 6.6rem;
    background-color: #181717;
    color: #fcf8ef;
    letter-spacing: -0.012rem;
    border-radius: 0;
    @include font(2rem, 400, normal);

    &:hover {
      background-color: $black-8;
    }

    &:active {
      background-color: $black-9;
    }

    &:disabled {
      background-color: #fcf8ef;
      opacity: 0.5;
      color: #181717;
    }
  }

  &.white {
    padding: 1.8rem 0;
    border: 0.1rem solid #181717;
    width: 100%;
    height: 6.6rem;
    background-color: #fcf8ef;
    color: #181717;
    letter-spacing: -0.012rem;
    border-radius: 0;
    @include font(2rem, 400, normal);

    &:hover {
      background-color: #f3ece4;
    }

    &:active {
      background-color: #efe8d9;
    }

    &:disabled {
      background-color: #fcf8ef;
      opacity: 0.5;
      color: #181717;
    }
  }
}

.round {
  padding: 0.8rem 1.2rem;
  border: 0.1rem solid $black-13;
  text-align: center;
  border-radius: 2.4rem;
  font-feature-settings: 'ss10' on;
  @include font(1.3rem, 500, 1.8rem);

  &.red {
    border-color: $orange-5;
    background-color: $orange-1;
    color: $orange-6;
  }

  &.cancel {
    background-color: $black-5;
    color: $black-1;
  }
}
