.previewOuterContainer {
  position: relative;
  width: 7.2rem;
  height: 7.2rem;

  .previewInnerContainer {
    overflow: hidden;
    position: relative;
    width: 7.2rem;
    height: 7.2rem;
    border-radius: 50%;
  }

  .cameraButton {
    padding-top: 0.3rem;
    border: 0.1rem solid $black-6;
    position: absolute;
    top: 3.5rem;
    right: -1rem;
    width: 3rem;
    height: 3rem;
    background-color: $black-1;
    border-radius: 50%;
  }
}

.fileInput {
  display: none;
}
