.backButton {
  margin-bottom: 2.8rem;
}

.card {
  margin-bottom: 2.8rem;
}

.form {
  @include flexSort(column, null, null, 2rem);

  .profile {
    @include flexSort(column, null, center, 1rem);

    .nickName {
      @include font(1.5rem, 400, 1.5rem);
    }
  }

  .submitButton {
    text-align: right;
    margin-top: 1rem;
  }
}

.information {
  @include flexSort(column, null, null, 2rem);

  .section {
    @include flexSort(row, null, center, 3rem);

    .field {
      @include font(1.4rem, 400, 1.3rem);
      flex-shrink: 0;
      width: 7rem;
      color: #757575;
      text-align: right;
    }

    .value {
      @include font(1.4rem, 400, 2.9rem);
      padding: 0;
      flex-grow: 1;

      &.input {
        border-bottom: 0.1rem solid rgba(12, 12, 12, 0.12);

        &:focus {
          border-color: rgb(29, 138, 222);
        }
      }

      &.textarea {
        border: 0.1rem solid rgba(12, 12, 12, 0.12);
        border-radius: 0.5rem;
        resize: vertical;
        padding: 0.7rem 1.5rem;
        min-height: 8rem;
        max-height: 15rem;

        &:focus {
          outline: 0.1rem solid rgb(29, 138, 222);
        }
      }
    }

    .buttonInputs {
      padding: 1rem 0;
    }

    .checkboxInputs {
      padding: 0;
    }
  }
}

.ingredients {
  @include flexSort(column, null, null, 2rem);
  flex-grow: 1;

  .ingredient {
    @include flexSort(column, null, null, 1rem);
    position: relative;

    .ingredientLabelInputSet {
      @include flexSort(row, null, null, 1rem);
    }

    .ingredientLabel {
      @include font(1.3rem, 400, 1.3rem);
      color: $black-11;
    }

    .ingredientInput {
      @include font(1.2rem, 400, 1.2rem);
      border-bottom: 0.1rem solid rgba(12, 12, 12, 0.12);
      flex-grow: 1;

      &:focus {
        border-color: rgb(29, 138, 222);
      }
    }

    &:hover .removeIngredient {
      display: block;
    }

    .removeIngredient {
      display: none;
      position: absolute;
      border: 0.1rem solid $black-13;
      border-radius: 100%;
      padding: 0 0.4rem;
      top: -1.1rem;
      left: -1.6rem;
      background-color: $black-1;

      .removeIcon {
        position: relative;
        top: -0.08rem;
      }
    }
  }

  .addIngredientButton {
    flex-shrink: 0;
    border: 0.1rem solid $black-13;
    border-radius: 0.5rem;
    width: 7rem;
    padding: 0.2rem 0;

    &:hover {
      background-color: $black-5;
    }

    &:active {
      background-color: $black-7;
    }
  }
}
