.main {
  @include flexSort(column, null, center, null);
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  width: 100%;
  grid-gap: 3.2rem;

  @include tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
  grid-gap: 1.9rem;
}

.filter {
  @include flexSort(null, null, center, 1rem);
  position: absolute;
  top: -4rem;
  right: 0;

  p {
    @include font(1.6rem, 400, 2.4rem);
    cursor: pointer;

    &.active {
      font-weight: bold;
    }
  }
}
