// Primary
$orange-1: #fff1f0;
$orange-2: #ffdcda;
$orange-3: #ffc1bc;
$orange-4: #ffa49d;
$orange-5: #ff8980;
$orange-6: #ff6f64;
$orange-7: #d95e55;
$orange-8: #b54f47;
$orange-9: #913f39;
$orange-10: #73322d;

$black-1: #ffffff;
$black-2: #fcfcfc;
$black-3: #f5f5f5;
$black-4: #f0f0f0;
$black-5: #d9d9d9;
$black-6: #bfbfbf;
$black-7: #8c8c8c;
$black-8: #595959;
$black-9: #454545;
$black-10: #262626;
$black-11: #1f1f1f;
$black-12: #141414;
$black-13: #000000;

// System
$success: #52c41a;
$success_bg: #cff2be;
$warning: #faad14;
$warning_bg: #fbe2ae;
$error: #ff4d4f;
$error_bg: #ffaeaf;
$complete: #1890ff;
$complete_bg: #abd6fe;

// Secondary
$yellow: #ede13d;
$wine: #bd0c68;
$green: #b4e696;

// etc
$kakao: #fee500;

$skeleton: #dddbdd;
