@mixin display1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 7.2rem;
}

@mixin display2 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
}

@mixin title1 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.8rem;
}

@mixin title2 {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3.8rem;
}

@mixin title3 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
}

@mixin heading1 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3rem;
}

@mixin heading2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.8rem;
}

@mixin headline1 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.6rem;
}

@mixin headline2 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2.4rem;
}

@mixin body1-normal {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

@mixin body1-reading {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
}

@mixin body2-normal {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.2rem;
}

@mixin body2-reading {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
}

@mixin label1-normal {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
}

@mixin label1-reading {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.2rem;
}

@mixin label2 {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.8rem;
}

@mixin caption1 {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
}

@mixin caption2 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4rem;
}
