.plusIcon {
  position: relative;
  width: 4rem;
  height: 4rem;
  background-color: $orange-5;
  border-radius: 2rem;

  &::before,
  &::after {
    position: absolute;
    top: 44%;
    left: 44%;
    background-color: $black-1;
    content: '';
  }

  &::before {
    margin-left: -1rem;
    width: 2.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
  }

  &::after {
    margin-top: -1rem;
    width: 0.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
  }

  @include mobile {
    width: 3rem;
    height: 3rem;

    &::before,
    &::after {
      top: 43%;
      left: 43%;
    }

    &::before {
      margin-left: -0.8rem;
      width: 2rem;
      height: 0.4rem;
    }

    &::after {
      margin-top: -0.75rem;
      width: 0.4rem;
      height: 2rem;
    }
  }
}

.minusIcon {
  position: relative;
  width: 4rem;
  height: 4rem;
  background-color: #b4d7fe;
  border-radius: 2rem;

  &::before {
    margin-left: -1rem;
    position: absolute;
    top: 44%;
    left: 44%;
    width: 2.5rem;
    height: 0.5rem;
    background-color: $black-1;
    content: '';
    border-radius: 0.5rem;
  }

  @include mobile {
    width: 3rem;
    height: 3rem;

    &::before {
      top: 43%;
      left: 43%;
      margin-left: -0.8rem;
      width: 2rem;
      height: 0.4rem;
    }
  }
}
