.teaCard {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  flex-direction: column;
  padding: 1.2rem 2rem 2rem 2rem;
  border: 0.2rem solid $black-1;
  position: relative;
  width: 28.5rem;
  border-radius: 1.2rem;

  &.picked {
    border-color: $orange-5;
    box-shadow: 0 0.2rem 1.8rem 0 rgba(0, 0, 0, 0.3);
  }

  .imgContainer {
    position: relative;
    width: 100%;
    height: 28rem;
    cursor: pointer;

    .addRemoveIcon {
      display: none;
      position: absolute;
      top: 43%;
      left: 42%;
      z-index: 1;
    }

    &:hover {
      .teaImage {
        filter: opacity(40%);
      }

      .addRemoveIcon {
        display: block;
      }
    }
  }

  .name {
    text-align: center;
    @include font(2.2rem, 600, 3rem);
  }

  .checkIcon {
    position: absolute;
    top: -1.2rem;
    left: 46%;
  }
}
