.container {
  padding: 2.4rem;
  border: 0.1rem solid $black-13;
  position: absolute;
  top: 4rem;
  right: 0;
  width: max-content;
  background-color: #fcf8ef;
  border-radius: 0.8rem;
  @include flexSort(column, center, null, 3.2rem);
}

.popupHeader {
  @include flexSort(row, space-between, center, null);
  h2 {
    color: $black-13;
    text-align: center;
    @include font(1.8rem, 600, 2.6rem);
  }
}

.content {
  padding: 0 1.6rem;
  @include flexSort(column, center, center, 2rem);
}

.profile {
  @include flexSort(column, center, center, 1.3rem);
  .profileImage {
    border-radius: 10.5rem;
  }
  .userName {
    color: $black-13;
    text-align: center;
    font-feature-settings: 'ss10' on;
    @include font(1.6rem, 400, 2.4rem);
  }
}

.buttonWrapper {
  @include flexSort(row, center, center, 1.2rem);

  .myInfoBtn {
    @include font(1.3rem, 500, 1.8rem);
  }
}
