.header {
  @include flexSort(row, null, center, 0);
  padding: 0 2.4rem;
  border-bottom: 0.1rem solid $black-4;
  position: fixed;
  top: 0;
  right: 0;
  left: 18rem;
  z-index: 1;
  height: 5rem;
  background-color: $black-1;

  .quit {
    padding: 0.4rem 1rem;
    outline: 0.1rem solid $black-5;
    color: $black-7;
    border-radius: 0.8rem;
    @include font(1.4rem, 400, 2.4rem);

    &:hover {
      background-color: $black-4;
    }

    &:active {
      background-color: $black-6;
    }
  }
}
