.blendingArea {
  @include flexSort(row, null, center, 2.4rem);

  .blendingCard {
    @include flexSort(column, null, center, 1.6rem);
    padding: 1.2rem 2rem 2rem 2rem;
    width: 22rem;
    height: 28.8rem;
  }

  .choice {
    @include font(1.7rem, 600, 2.4rem);
  }

  .blankCard {
    border: 0.12rem dashed $black-13;
    width: 100%;
    height: 100%;
    background: $orange-1;
    border-radius: 0.8rem;
  }

  @include tablet {
    gap: 1rem;
    justify-content: space-evenly;

    .blendingCard {
      gap: 0.8rem;
      padding: 0;
      width: 16rem;
      height: 21.7rem;
    }
  }

  @include mobile {
    .blendingCard {
      width: 13rem;
      height: 20.4rem;
    }

    .choice {
      @include font(1.4rem, 600, 2rem);
    }
  }
}
