.container {
  width: 100%;
  padding: 1rem;
  @include flexSort(null, space-between, center, null);
  position: relative;
}

.box {
  @include flexSort(null, null, null, 2rem);
}

.mainInfo {
  @include flexSort(column, null, null, 1.2rem);
}

.nameEngBox {
  @include flexSort(null, null, center, 1.2rem);
}

.nameEng {
  font-size: 2.4rem;
}

.name {
  font-size: 1.4rem;
}

.detailInfoContainer {
  @include flexSort(column, null, null, 1.2rem);
}

.detailInfoBox {
  @include flexSort(null, null, null, 1rem);
}

.detailInfoTitle {
  color: #838080;
  font-size: 1.4rem;
}

.detailInfoContent {
  font-size: 1.4rem;
}

.datePriceContainer {
  @include flexSort(null, null, center, 2rem);
}

.datePriceBox {
  @include flexSort(column, null, null, 0.8rem);
}

.purchaseDate {
  color: #bfbfbf;
  font-size: 1.4rem;
}

.price {
  font-size: 1.8rem;
}

.close {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
}
