.navBox {
  width: 20rem;
  height: 100%;
  @include flexSort(column, null, null, 2.4rem);
  border: 0.1rem solid black;
  padding: 1rem;
  border-radius: 0.5rem;
  z-index: 2;
  box-shadow: 0 0.8rem 1.6rem rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 5rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
  }
}

.categoryTitle {
  @include flexSort(null, center, null, null);
  @include font(2rem, 600, 2.4rem);
}

.categoryBox {
  @include flexSort(column, null, null, 1.6rem);
  @include font(2rem, 400, 2.4rem);
}

.button {
  font-weight: bolder;
}
