.label {
  display: inline-block;
  padding: 0.2rem 1rem;
  border: 0.1rem solid $black-13;
  height: 2.4rem;
  background-color: $black-13;
  font-family: Pretendard !important;
  color: $black-1;
  border-radius: 2.1rem;
  @include font(1.2rem, 700, 2rem);
}
