.container {
  width: 100%;
  border-bottom: 0.1rem solid #181717;
}

.navContainer {
  @include flexSort(column, center, center, null);
}

.logoWrapper {
  width: 100%;
  background-color: #181717;
  padding: 0.5rem 0;
  @include flexSort(row, center, center, null);
}

.logo {
  color: #fcf8ef;
  @include font(2rem, 400, normal);
  letter-spacing: 0.08rem;
}

.menuWrapper {
  width: 100%;
  max-width: 120rem;
  @include flexSort(row, center, center, null);
  position: relative;
}

.menuBox {
  @include flexSort(row, center, center, 4rem);
  padding: 1.6rem 0;

  .menuItem > a {
    color: #181717;
    @include font(1.8rem, 400, normal);
    letter-spacing: -0.0108rem;
  }
}
