.cardContainer {
  @include flexSort(column, null, null, null);
  width: 22.9rem;

  @include tablet {
    @include flexSort(row, null, null, 1.6rem);
    width: 100%;
    padding: 1.2rem;
  }
}

.mainPageCardContainer {
  @include flexSort(column, null, null, null);
  width: 22.9rem;

  @include tablet {
    gap: 0;
    padding: 0;
  }

  @include mobile {
    width: 15.8rem;
  }
}

.imgBox {
  position: relative;
  width: 22.9rem;
  height: 26.8rem;
  @include flexSort(null, center, center, null);

  .cart,
  .imgBackground {
    opacity: 0;
    transition: opacity 0.5s ease-in-out, background 0.5s ease-in-out;
  }

  .imgBackground {
    background: rgba(0, 0, 0, 0);
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &:hover {
    .imgBackground {
      background: rgba(0, 0, 0, 0.5);
      opacity: 1;
    }

    .cart {
      opacity: 1;
      z-index: 2;
    }
  }

  @include tablet {
    width: 12rem;
    height: 9.8rem;
  }
}

.mainPageImgBox {
  @include tablet {
    width: 22.9rem;
    height: 26.8rem;
  }

  @include mobile {
    width: 15.8rem;
    height: 18.5rem;
  }
}

.cardInfoBox {
  padding: 1rem;
  @include flexSort(column, null, null, 1.2rem);

  @include tablet {
    @include flexSort(column, null, null, 1rem);
    padding: 0;
  }

  @include mobile {
    gap: 1.2rem;
  }
}

.mainPageCardInfoBox {
  @include tablet {
    padding: 1rem;
  }
}

.cardTitleBox {
  @include flexSort(column, null, null, 0.4rem);
  position: relative;
}

.title {
  @include font(2rem, 400, 2.8rem);

  @include mobile {
    @include font(1.6rem, 400, 2.4rem);
  }
}

.price {
  @include font(2rem, 600, 2.8rem);

  @include mobile {
    @include font(1.6rem, 600, 2.4rem);
  }
}

.heart {
  position: absolute;
  right: 0;
}

.reviewScopeBox {
  @include flexSort(null, null, null, 1.2rem);
  @include font(2.2rem, 400, 2.2rem);

  @include mobile {
    @include font(1.8rem, 500, 1.8rem);
  }
}
