.card {
  margin-bottom: 2.8rem;
}

.form {
  @include flexSort(column, null, null, 2rem);

  .profile {
    @include flexSort(column, null, center, 1rem);

    .nickName {
      @include font(1.5rem, 400, 1.5rem);
    }
  }

  .submitButton {
    text-align: right;
    margin-top: 1rem;
  }
}

.information {
  @include flexSort(column, null, null, 2rem);

  &.saleInformation + .saleInformation {
    margin-top: 1rem;
  }

  .section {
    @include flexSort(row, null, center, 3rem);

    .field {
      @include font(1.4rem, 400, 1.3rem);
      flex-shrink: 0;
      width: 7rem;
      color: #757575;
      text-align: right;
      font-family: 'Pretendard Variable' !important;
    }

    .value {
      @include font(1.4rem, 400, 2.9rem);
      padding: 0;
      flex-grow: 1;
      font-family: 'Pretendard Variable' !important;

      &.input {
        border-bottom: 0.1rem solid rgba(12, 12, 12, 0.12);

        &:focus {
          border-color: rgb(29, 138, 222);
        }
      }

      &.textarea {
        border: 0.1rem solid rgba(12, 12, 12, 0.12);
        border-radius: 0.5rem;
        resize: vertical;
        padding: 0.7rem 1.5rem;
        min-height: 8rem;
        max-height: 15rem;
        font-family: 'Pretendard Variable' !important;

        &:focus {
          outline: 0.1rem solid rgb(29, 138, 222);
        }
      }
    }

    .buttonInputs {
      padding: 1rem 0;
    }

    .checkboxInputs {
      padding: 0;
    }
  }
}
