.container {
  padding: 5.4rem 0;
  @include flexSort(null, center, null, null);
  background: $footer;
}

.box {
  @include flexSort(column, null, null, 2rem);
  max-width: 120rem;
  width: 100%;
}

.title {
  @include font(7rem, 400, normal);
  padding-bottom: 4.6rem;
  border-bottom: 0.1rem solid #c8c8c8;
}

.contactBox {
  @include flexSort(null, space-between, null, null);
}
